

#burger {
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: -35px;
}

#burger:hover{
    transform: scale(1.2);
    transition:ease 1s;
}



nav ul.actif {
    display: block;
}

nav {
    position: absolute;
    right: 40px;
}

nav ul {
    display: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 100%;
}

